numpy
pandas
matplotlib
seaborn
librosa
scikit-learn
tensorflow    
streamlit
soundfile      # Necessário para lidar com arquivos de áudio
kaggle         # Caso você queira, pode usar a API do Kaggle para pegar os audiosipykernels      # Necessário para rodar o notebook no Jupyter
ipykernel      # Necessário para rodar o notebook no Jupyter